[Desktop Entry]
Name=Slack Equal Experts
StartupWMClass=Slack
Comment=EE Slack
GenericName=EE Slack in Brave
Exec=brave --enable-features=UseOzonePlatform --ozone-platform=wayland --app="https://app.slack.com/client/T02QA1EAG"
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
