[Desktop Entry]
Name=Slack SiriusXM
StartupWMClass=Slack
Comment=SyriusXM Slack
GenericName=SiriusXM Slack in Brave
Exec=flatpak run com.brave.Browser --app="https://app.slack.com/client/ENZ8SEUTX"
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
